<!-- <div class="text-center" style="background: url(../img/clint-eastwood.jpg) no-repeat center center;">
	<button ng-click="quoteClint()" class="btn btn-primary btn-lg">BOOM!!!</button>
	<div class="quote">{{clintEastwood.quote}}
	{{clintEastwood.author}}</div>
</div>
 -->

<div class="text-center">
	<br/>
	<button ng-click="quoteClint()" class="btn btn-primary btn-lg">BOOM!!!</button>
	<h3 class="quote">{{clintEastwood.quote}}
	{{clintEastwood.author}}</h3>

	<!-- <direct-one></direct-one> -->
	<img src="../img/clint-eastwood.jpg">
</div>

